/*  Font imports
================================================== */
@font-face
{
    font-family: Exo;
    font-display: swap;
    src: url("../resources/fonts/exo.ttf");
}


/*  Components
================================================== */
.flex-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*  Sectioning elements
================================================== */
body
{
    box-sizing: border-box;
    background-color: #ecfde0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%; /* 16px * 0.625 = 10px ---> 1em = 10px */
    overflow: hidden;
}

article,
footer,
header,
nav
{
    padding: 0;
}


/*  Anchor tags
================================================== */
a,
a:visited,
a:focus,
a:hover,
a:active
{
    color: inherit;
    text-decoration: none;
}


/*  Headings
================================================== */
h1, h2, h3, h4, h5, h6
{
    color: #85C040;
    font-family: Exo, sans-serif;
    margin: 0.25em 0;
}

h1 { font-size: 4.5em;  }
h2 { font-size: 3em;    }
h3 { font-size: 2em;    }
h4 { font-size: 1.5em;  }
h5 { font-size: 1.25em; }
h6 { font-size: 1em;    }


/*  Lists
================================================== */
ul
{
    padding-left: 0;
    list-style-type: none;
}


/*  Images
================================================== */
img,
picture
{
    border: none;
    max-width: 100%;
}
