/* TODO: Layout and comments in this file */

.container
{
    overflow: hidden;
    height: 100vh;
}

.sidebar
{
    flex-grow: 1;
    width: 60vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(240, 240, 240);
    left: -60vw;
}

.sidebar-active
{
    left: 0;
    transition: all 300ms linear;
}

.content
{
    flex-grow: 1;
    flex-basis: 50%;
}

.menu-button-grey
{
    width: 100%;
    height: 8em;
    display: flex;
    color: #85C040;
    border-bottom: 0.2em solid rgb(230, 230, 230);
}

.menu-button-grey:hover
{
    background-color: rgb(230, 230, 230);
    border-bottom: 0.2em solid rgb(230, 230, 230);
}

.menu-button-grey a
{
    margin: auto;
    text-decoration: none;
    font-size: 4em;
    font-weight: lighter;
    text-shadow: 0.03em 0.03em rgb(50, 50, 50);
}
