/*  Wrappers
================================================== */
.width-constraint
{
    width: 100vw;
}

.page-wrapper
{
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0); /* Fixes z-index issues for safari */
    transform: translate3d(0, 0, 0)
}

.content-wrapper
{
    min-height: calc(100vh - 9.6rem);
    margin-top: 9.6rem;
    width: 100%;
}


/*  Top bar
================================================== */
.top-bar
{
    background-color: #f5f5f5;
    position: fixed;
    top: 0px;
    width: inherit;
    display: flex;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
    z-index: 10;
    height: 9.6rem;
}

.top-bar-logo
{
    flex-basis: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;
}

.top-bar-logo img
{
    padding: 1.5rem;
    width: 6.4rem;
    height: 6.4rem;
    cursor: pointer;
}

.top-bar-logo h1
{
    font-size: 3rem;
    margin-left: 0;
    align-self: center;
    cursor: pointer;
}

.nav-bar-toggle
{
    height: 100%;
    flex-basis: 30%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-line
{
    position: absolute;
    height: 4px;
    background-color: rgb(70, 70, 70);
    width: 40px;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.28, 1.25);
}

.hamburger-top
{
    transform: translate(0, -11px);
}

.hamburger-bottom
{
    transform: translate(0, 11px);
}

.nav-bar-toggle.close .hamburger-top
{
    transform: rotate(45deg);
}

.nav-bar-toggle.close .hamburger-middle
{
    width: 0;
}

.nav-bar-toggle.close .hamburger-bottom
{
    transform: rotate(-45deg);
}


/*  Navigation bar
================================================== */
.nav-bar
{
    position: fixed;
    background-color: #f5f5f5;
    transition-property: transform;
    text-align: center;
    color: #505050;
    width: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    z-index: 5;
    height: 33.6rem;
}

.nav-bar ul
{
    margin: 0;
}

.nav-bar-active
{
    /* On it's way in */
    transition-duration: 0.25s;
    transition-timing-function: ease-out;

    -webkit-transform: translateY(0);
    transform: translateY(0);
    will-change: transform;
}

.nav-bar-inactive
{
    /* On it's way out */
    transition-duration: 0.20s;
    transition-timing-function: ease-in;

    -webkit-transform: translateY(-33.6rem);
    transform: translateY(-33.6rem);
    will-change: transform;
}

.nav-link
{
    font-size: 3rem;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: #f5f5f5;
}

.nav-link:hover
{
    background-color: #cacaca;
    cursor: pointer;
}

.overlap-background
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition-property: all;
    transition-duration: 0.5s;
    pointer-events: none;
    z-index: 2;
}

.half-opaque-background
{
    background-color: rgba(0,0,0,0.6);
}

.transparent-background
{
    background-color: rgba(0,0,0,0);
}

.overlap-hide
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

/*  Fullscreen background image
================================================== */
.fullscreen-background
{
    position: absolute;
    min-height: calc(100vh - 9.6rem);
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*  Page ribbon
================================================== */
.page-ribbon
{
    display: flex;
    font-size: 1.5rem;
    height: 2em;
    background-color: #85C040;
    color: #f5f5f5;
    text-shadow: 0 0 2px #000000;
    align-items: center;
    padding-left: 1em;
}


/*  Info boxes
================================================== */
.info-box
{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em; 
    font-size: 1.8rem;
    text-align: center;
    color: #444444;
}

.info-box a
{
    color: rgb(100, 100, 255);
    text-decoration: underline;
}

.info-box .number
{
    font-size: 0.9em;
    background-color: rgb(220, 220, 220);
}

/*  Dropdown
================================================== */
.dropdown
{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: rgb(220, 220, 220);
    border-radius: 1em;
}

.dropdown-content li:last-child
{
    border-radius: 1em;
}

.dropdown-toggle
{
    text-align: center;
    font-size: 1.3rem;
    padding: 0.8em;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.dropdown-arrow path
{
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}


/*  Page banner
================================================== */
.page-banner
{
    width: 100%;
    height: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-banner h2
{
    position: relative;
    top: 8rem;
}

.page-banner.compensate
{
    background-image: url("../img/banner-compensate.jpg");
}

.page-banner.calculation-methology
{
    background-image: url("../img/banner-calculation-methology.jpg");
    background-position: bottom;
}

.page-banner.about-us
{
    background-image: url("../img/banner-about-us.jpg");
    background-position: center;
}


/*  Landing page
================================================== */
.landing-container
{
    min-height: 60rem;
    height: calc(100vh - 9.6rem);
    width: 100%;
}

.fullscreen-background.landing
{
    min-height: 60rem;
    height: calc(100vh - 9.6rem);
    background-image: url("../img/fullscreen-landing.jpg");
}

.landing-container h2
{
    text-align: center;
    padding-top: 30vh;
}

.more-info-button
{
    border: none;
    cursor: pointer;
    margin: auto;
    text-align: center;
    display: block;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-shadow: 0 0 6px #303030;
    padding: 0.75em 2.5em;
    font-size: 1.3rem;
    background-color: #606060;
    border-radius: 1em;
    margin-top: 1em;
}

.more-info-button:hover
{
    background-color: #404040;
}

.otp-video
{
    border: none;
    width: 280px;
    height: 158px;
}

.tree-counter
{
    font-size: 1.2rem;
    color: #85C040;
    font-family: Exo, sans-serif;
    font-weight: bold;
}

/*  Compensate button
================================================== */
.compensate-button
{
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    display: block;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-shadow: 0 0 6px #303030;
    padding: 0.75em 2.5em;
    max-width: 95%;
    border-radius: 1em;
}

.compensate-button.invalid:active
{
    -webkit-animation: invalid-shake 0.1s 1;
    -moz-animation:    invalid-shake 0.1s 1;
    -o-animation:      invalid-shake 0.1s 1;
    animation:         invalid-shake 0.1s 1;
}

@keyframes invalid-shake
{
    0%   { transform: translateX(0);    }
    25%  { transform: translateX(5px);  }
    75%  { transform: translateX(-5px); }
    100% { transform: translateX(0);    }
}

.compensate-button.big
{
    background-image: linear-gradient(rgb(200, 255, 100), rgb(100, 150, 25));
    font-size: 3rem;
}

.compensate-button.small
{
    background-image: linear-gradient(rgb(190, 240, 95), rgb(115, 170, 30));
    font-size: 2rem;
    width: 80%;
}

.compensate-button:hover,
.compensate-button:focus
{
    background-image: linear-gradient(rgb(150, 200, 50), rgb(65, 100, 15));
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.6);
}


/*  Compensation page
================================================== */
.fuel-input-form
{
    display: flex;
    background-color: #f5f5f5;
    font-size: 1.5rem;
    height: 6em;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.6666em;
}

.fuel-amount-input
{
    height: 100%;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fuel-amount-input input,
.custom-donation-input input
{
    -webkit-appearance: none;
    height: 50%;
    border: 1px solid gray;
    color: #444444;
    padding-bottom: 0;
    font-size: 1.8em;
    background: white;
    outline: none;
}

.fuel-amount-input input[type="number"],
.custom-donation-input input[type="number"]
{
    width: 40%;
    padding-left: 0.2em;
    border-right: 0px;
    z-index: 1; /* Place over unit input field */
}

/* Unit label */
.fuel-amount-input input[type="text"],
.custom-donation-input input[type="text"]
{
    width: 30%;
    padding-right: 0.3em;
    padding-left: 0.3em;
    border-left: 0px;
    margin: 0 0 0 -7px;
    text-align: right;
}

.custom-donation-input
{
    height: 70px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fuel-type-input
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.fuel-type-button
{
    border-radius: 1em;
    height: 80%;
    width: 40%;
    background-color: rgb(220, 220, 220);
}

.fuel-type-button:hover
{
    background-color: rgb(160, 160, 160);
    cursor: pointer;
}

.fuel-type-button.toggled
{
    background-color: #85C040;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
}

.fuel-type-button label
{
    display: inline-block;
    font-family: Exo, sans-serif;
    font-size: 2.5rem;
    margin-top: 0.5em;
    color: #444444;
}

.fuel-type-button div
{
    color: #444444;
}

.compensation-info
{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    margin-top: 0;
}

.compensation-info li
{
    padding: 0.5em;
}

.compensation-info a
{
    color: rgb(100, 100, 255);
    text-decoration: underline;
}

.compensation-info li:nth-child(odd)
{
    background-color: rgb(213, 231, 191);
}

.more-info-link
{
    text-align: right;
    font-size: 1.3rem;
    margin-right: 1em;
    margin-bottom: 2em;
    padding: 0.5em;
    color: rgb(100, 100, 255);
    text-decoration: underline;
}

.more-info-link a
{
    background-color: rgb(220, 220, 220);
}

.more-info-link a:hover
{
    background-color: rgb(160, 160, 160);
}

.stripe-info
{
    font-size: 1.3rem;
    text-align: center;
    margin-left: 9%;
    margin-top: 1em;
    margin-bottom: 2em;
    height: 8rem;
    width: 80%;
}

.stripe-info .image-container
{
    padding-bottom: 1em;
    height: 70%;
    width: 100%;
}

.stripe-info img
{
    max-width: 100%;
    max-height: 100%;
}

.stripe-info a
{
    color: rgb(100, 100, 255);
    text-decoration: underline;
}

.invalid-form-message
{
    margin: auto;
    max-width: 90%;
    font-size: 1.4rem;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 150, 150);
}

/*  Thank you page
================================================== */
.fullscreen-background.thank-you
{
    background-image: url("../img/fullscreen-thank-you.jpg");
}

.thank-you-text
{
    padding-top: 1em;
    font-size: 4rem;
    margin: 0;
}

.receipt-info
{
    font-size: 1.8rem;
}

.share-section
{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 12.5rem;
    font-size: 2rem;
}

.share-section div:nth-child(1)
{
    font-weight: bold;
    padding: 0.5em;
    color: rgb(0, 110, 18);
}

.share-section div:nth-child(2)
{
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.share-section a
{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

/*  404 Page not found
================================================== */
.fullscreen-background.page-not-found
{
    background-image: url("../img/fullscreen-page-not-found.jpg");
}


/*  Footer
================================================== */
.footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    height: 6rem;
    box-shadow: inset 0px 9px 10px -3px rgba(0, 0, 0, 0.15);
    background-color: #dddddd;
    font-size: 1.3rem;
}

.footer .email
{
    color: rgb(100, 100, 255);
    margin-bottom: 0.25em;
    text-decoration: underline;
}

.footer .at-icon-wrapper
{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}


/*  Media queries 
================================================== */
@media only screen and (min-width: 900px)
{
    .site-background-color
    {
        width: 900px;
        left: 50%;
        margin-left: -450px;
    }

    .width-constraint, .fullscreen-background
    {
        /* Makes the box shadow scroll under the nav bar very obvious */
        /* box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3); */
        width: 900px; 
        margin: auto;
    }

    .landing-container h2
    {
        font-size: 6rem;
    }

    .tree-counter
    {
        font-size: 1.5rem;
    }

    .compensate-button.big
    {
        font-size: 3.5rem;
    }

    .compensate-button.small
    {
        font-size: 3rem;
    }

    .more-info-button
    {
        font-size: 1.6rem;
    }

    .page-ribbon
    {
        font-size: 2.25rem;
    }

    .info-box
    {
        font-size: 2.3rem;
    }

    .otp-video
    {
        border: none;
        width: 560px;
        height: 315px;
    }

    .page-banner
    {
        height: 24rem;
    }

    .page-banner h2
    {
        font-size: 5rem;
        top: 16rem;
    }

    .stripe-info
    {
        font-size: 1.5rem;
    }
}
