/*  Landing page
================================================== */
.landing-container
{
    height: 100vh;
    width: 100vw;
}

.content
{
    width: 100vw;
}


/*  Modal drawer
================================================== */
.drawer
{
    background-color: rgb(240, 240, 240);
    flex-grow: 1;
    height: 100vh;
    left: -70vw;
    overflow: auto;
    position: absolute;
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: linear;
    width: 70vw;
    z-index: 10;
}

.drawer-active
{
    transform: translate(70vw);
}

.drawer-show-button
{
    background-image: url("../img/hamburger.png");
    background-size: contain;
    cursor: pointer;
    height: 55px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 55px;
}

.drawer-hide-background
{
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    pointer-events: none;
    position: absolute;
    transition-duration: 200ms;
    transition-property: background-color;
    transition-timing-function: ease-in;
    width: 100vw;
}

.drawer-hide
{
    cursor: pointer;
    height: 100%;
    pointer-events: all;
    width: 100%;
}


/*  Drawer buttons
================================================== */
.menu-button-grey
{
    border-bottom: 0.2em solid rgb(230, 230, 230);
    color: #85C040;
    display: flex;
    height: 8em;
    width: 100%;
}

.menu-button-grey:hover
{
    background-color: rgb(230, 230, 230);
    border-bottom: 0.2em solid rgb(230, 230, 230);
    cursor: pointer;
}

.menu-button-grey a
{
    font-size: 4em;
    font-weight: lighter;
    margin: auto;
    text-decoration: none;
    text-shadow: 0.03em 0.03em rgb(50, 50, 50);
}


/*  Brand section
================================================== */
.brand
{
    align-items: stretch;
    height: 150px;
    justify-content: center;
    margin-top: 150px;
    width: 100vw;
}

.brand-text-holder
{
    margin-right: 10px;
    text-align: right;
}

.brand h1
{
    margin-bottom: 0;
    margin-top: 40px;
}

.brand h2
{
    color: #666666;
    margin-top: 0;
}

.brand-logo-holder
{
    display: block;
    margin-left: 10px;
}

.brand-logo-holder img
{
    display: block;
    margin-top: 30px;
}

@media screen and (max-width: 500px)
{
    .brand h1 { font-size: 13vw; }
    .brand h2 { font-size: 4.3vw; }

    .brand-logo-holder img
    {
        width: 25vw;
    }
}

@media screen and (min-width: 501px)
{
    .brand h1 { font-size: 65px; }
    .brand h2 { font-size: 22px; }

    .brand-logo-holder img
    {
        width: 120px;
    }
}


/*  Compensate button
================================================== */
.compensate-button
{
    background: linear-gradient(to bottom, #c0eb00 5%, #4ead00 100%);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 3px 13px 0px #919191;
    cursor: pointer;
    margin-top: 20px;
    padding: 35px 40px;
}

.compensate-button a
{
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: -1px 1px 5px #3d3d3d;
}

.compensate-button:hover
{
    box-shadow: 0px 3px 25px 0px #747474;
}


/*  Helpers
================================================== */
.hidden
{
    display: none !important;
}

.transparent-background
{
    background-color: rgba(0,0,0,0) !important;
}

/* Prevents divs and text from getting a highlight color on all devices */
.noSelect 
{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none; /* For chrome on android */
}
