/*  Landing page
================================================== */
.landing-container
{
    height: 100vh;
}

.content
{
    flex-basis: 50%;
    flex-grow: 1;
}

/*  Brand section
================================================== */
.brand
{
    width: 100vw;
    height: 150px;
    margin-top: 150px;
    margin-bottom: 60px;
    align-content: flex-start
}

.brand-text-holder
{
    padding-left: 20px;
    flex-grow: 1;
}

.brand h1
{
    padding: 0;
    margin-bottom: 0;
}

.brand h2
{
    font-size: 1.5em;
    color: #666666;
    margin-top: 0;
}

.brand-logo-holder
{
    flex-grow: 1;
}


/*  Modal drawer
================================================== */
.drawer
{
    background-color: rgb(240, 240, 240);
    flex-grow: 1;
    height: 100vh;
    left: -70vw;
    overflow: auto;
    position: absolute;
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: linear;
    width: 70vw;
    z-index: 10;
}

.drawer-active
{
    transform: translate(70vw);
}

.drawer-show-button
{
    background-image: url("../img/hamburger.png");
    background-size: contain;
    cursor: pointer;
    height: 55px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 55px;
}

.drawer-hide-background
{
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    position: absolute;
    transition-duration: 200ms;
    transition-property: background-color;
    transition-timing-function: ease-in;
    width: 100vw;
}

.drawer-hide
{
    cursor: pointer;
    height: 100%;
    width: 100%;
}


/*  Drawer buttons
================================================== */
.menu-button-grey
{
    border-bottom: 0.2em solid rgb(230, 230, 230);
    color: #85C040;
    display: flex;
    height: 8em;
    width: 100%;
}

.menu-button-grey:hover
{
    background-color: rgb(230, 230, 230);
    border-bottom: 0.2em solid rgb(230, 230, 230);
    cursor: pointer;
}

.menu-button-grey a
{
    font-size: 4em;
    font-weight: lighter;
    margin: auto;
    text-decoration: none;
    text-shadow: 0.03em 0.03em rgb(50, 50, 50);
}


/*  Helpers
================================================== */
.hidden
{
    display: none !important;
}

.transparent-background
{
    background-color: rgba(0,0,0,0) !important;
}

/* Prevents divs and text from getting a highlight color on all devices */
.noSelect 
{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none; /* For chrome on android */
}
